In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [829 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,628 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,478 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [863 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,067 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,256 kB]
Get:22 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 11.4 MB in 6s (1,774 kB/s)
Reading package lists... Done
sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz

In [2]:
!cp 'Part1_Crime_data.csv' data.csv

In [ ]:
'''2. type cast: float for coordinates, date/timestamp object type, many rest will be strings, 
total # will be integers, etc USING schema=StructType([StructField("",type(),True)])'''
'''3. use read function for above '''
'''4. already know there are 513757 rows, print it out basically'''
'''5. just do df.printShema()'''
'''6. print first 5 rows, easy'''

In [3]:
import pandas as pd
p_df = pd.read_csv('data.csv', header=None)
p_df.columns=['X','Y', 'RowID', 'CrimeDateTime', 'CrimeCode','Location', 'Description', 'Inside_Outside', 'Weapon', 'Post','District', 'Neighborhood', 'Latitude', 'Longitude', 'GeoLocation','Premise','VRIName','Total_Incidents','Shape']
p_df

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (0,1,2,9,12,13,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape
0,X,Y,RowID,CrimeDateTime,CrimeCode,Location,Description,Inside_Outside,Weapon,Post,District,Neighborhood,Latitude,Longitude,GeoLocation,Premise,VRIName,Total_Incidents,Shape
1,1428019.10487147,589532.731060804,1,2022/03/05 03:43:00+00,3NF,1800 FLEET ST,ROBBERY - STREET,NaN,FIREARM,213,SOUTHEAST,FELLS POINT,39.2847,-76.5913,"(39.2847,-76.5913)",NaN,NaN,1,NaN
2,1428019.10487147,589532.731060804,2,2022/03/05 03:43:00+00,3NF,1800 FLEET ST,ROBBERY - STREET,NaN,FIREARM,213,SOUTHEAST,FELLS POINT,39.2847,-76.5913,"(39.2847,-76.5913)",NaN,NaN,1,NaN
3,1428019.10487147,589532.731060804,3,2022/03/05 03:43:00+00,3NF,1800 FLEET ST,ROBBERY - STREET,NaN,FIREARM,213,SOUTHEAST,FELLS POINT,39.2847,-76.5913,"(39.2847,-76.5913)",NaN,NaN,1,NaN
4,1423024.46477252,572683.29122287,4,2022/03/05 04:30:00+00,3CF,100 E PATAPSCO AVE,ROBBERY - COMMERCIAL,NaN,FIREARM,913,SOUTHERN,BROOKLYN,39.2385,-76.6092,"(39.2385,-76.6092)",NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513752,1396464.99441,604781.500706,513752,1963/10/30 00:00:00+00,2A,3100 FERNDALE AVE,RAPE,I,OTHER,622.0,NORTHWEST,HOWARD PARK,39.3269,-76.7026,"(39.3269,-76.7026)",ROW/TOWNHOUSE-OCC,NaN,1,NaN
513753,1420300.536005,594161.547514,513753,1921/09/25 14:15:00+00,7C,200 W MONUMENT ST,AUTO THEFT,Inside,NaN,124.0,CENTRAL,MOUNT VERNON,39.2975,-76.6185,"(39.2975,-76.6185)",SHED/GARAGE,NaN,1,NaN
513754,1427309.345221,615426.99829,513754,1821/06/18 12:56:02+00,6G,5500 PURDUE AVE,LARCENY,NaN,NaN,414.0,NORTHEAST,WOODBOURNE HEIGHTS,39.3558,-76.5934,"(39.3558,-76.5934)",NaN,NaN,1,NaN
513755,1444822.319339,586080.330763,513755,1021/10/22 22:13:02+00,5A,1700 DUNDALK AVE,BURGLARY,Outside,NaN,234.0,SOUTHEAST,GRACELAND PARK,39.275,-76.532,"(39.275,-76.532)",OTHER/RESIDENTIAL,NaN,1,NaN
513756,1438713.920263,590529.840292,513756,1021/08/17 22:56:02+00,6J,5100 EASTERN AVE,LARCENY,Inside,NaN,232.0,SOUTHEAST,HOPKINS BAYVIEW,39.2873,-76.5535,"(39.2873,-76.5535)",STREET,NaN,1,NaN

In [4]:
from pyspark.sql.types import *
schema = StructType([
    StructField("X",FloatType(),True),
    StructField("Y",FloatType(),True), 
    StructField("RowID",IntegerType(),True), 
    StructField("CrimeDateTime", TimestampType(), True), 
    StructField("CrimeCode", StringType(), True), 
    StructField("Location", StringType(), True), 
    StructField("Description", StringType(), True),
    StructField("Inside_Outside", StringType(), True),
    StructField("Weapon", StringType(), True),
    StructField("Post", FloatType(), True),
    StructField("District", StringType(), True),
    StructField("Neighborhood", StringType(), True),
    StructField("Latitude", FloatType(), True),
    StructField("Longitude", FloatType(), True),
    StructField("GeoLocation", StringType(), True),
    StructField("Premise", StringType(), True),
    StructField("VRIName", StringType(), True),
    StructField("TotalIncidents", IntegerType(), True),
    StructField("Shape", StringType(), True),
  ])

In [10]:
df = spark.read.format("csv").option("header", True).schema(schema).load("Part1_Crime_data.csv")

In [14]:
df.printSchema()

root
 |-- X: float (nullable = true)
 |-- Y: float (nullable = true)
 |-- RowID: integer (nullable = true)
 |-- CrimeDateTime: timestamp (nullable = true)
 |-- CrimeCode: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Inside_Outside: string (nullable = true)
 |-- Weapon: string (nullable = true)
 |-- Post: float (nullable = true)
 |-- District: string (nullable = true)
 |-- Neighborhood: string (nullable = true)
 |-- Latitude: float (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- GeoLocation: string (nullable = true)
 |-- Premise: string (nullable = true)
 |-- VRIName: string (nullable = true)
 |-- TotalIncidents: integer (nullable = true)
 |-- Shape: string (nullable = true)

In [12]:
df.show(5)

+----+----+-----+-------------+---------+--------+-----------+--------------+------+----+--------+------------+--------+---------+-----------+-------+-------+--------------+-----+
|   X|   Y|RowID|CrimeDateTime|CrimeCode|Location|Description|Inside_Outside|Weapon|Post|District|Neighborhood|Latitude|Longitude|GeoLocation|Premise|VRIName|TotalIncidents|Shape|
+----+----+-----+-------------+---------+--------+-----------+--------------+------+----+--------+------------+--------+---------+-----------+-------+-------+--------------+-----+
|null|null| null|         null|     null|    null|       null|          null|  null|null|    null|        null|    null|     null|       null|   null|   null|          null| null|
|null|null| null|         null|     null|    null|       null|          null|  null|null|    null|        null|    null|     null|       null|   null|   null|          null| null|
|null|null| null|         null|     null|    null|       null|          null|  null|null|    null|        null|    null|     null|       null|   null|   null|          null| null|
|null|null| null|         null|     null|    null|       null|          null|  null|null|    null|        null|    null|     null|       null|   null|   null|          null| null|
|null|null| null|         null|     null|    null|       null|          null|  null|null|    null|        null|    null|     null|       null|   null|   null|          null| null|
+----+----+-----+-------------+---------+--------+-----------+--------------+------+----+--------+------------+--------+---------+-----------+-------+-------+--------------+-----+
only showing top 5 rows

In [20]:
total_rows = p_df.shape[0]
print(total_rows)

513757

1. What are distinct crime codes?
homicide (1), shooting (9), robbery (3_F), aggravated assault (4)
2. Count the number of crimes by the crime codes and order by the resulting counts in descending order
3. Which neighborhood had most crimes?
federick hill?
4. Which month of the year had most crimes?
january
5. What weapons were used? knife, firearm, hands, other

6. Which weapon was used the most? hands